name: ci-cd-csharp
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      Gmud:
        type: string
      environment:
        required: true
        type: string


jobs:
    pipeline-build-dev:
      runs-on: Linux
      if: ${{ github.event.inputs.environment == 'dev' }}
      steps:
        - name: Check out repository
          uses: actions/checkout@v3
        - run: |
            echo "Env: ${{ github.event.inputs.environment }}" 
            echo "Branch: ${{ github.event.inputs.branch }}"
        - name: Check out repository build-templates
          uses: actions/checkout@v3
          with:
            repository: 'Buzinho2022/build-templates'
            ref: 'refs/heads/main'
            #token: '${{ secrets.GH_TOKEN }}'
            path: 'build-templates/'
  
        - uses: ./build-templates/.github/workflows/actions/validacoes
          name: Metrics Pipeline
          with:
           ambiente: ${{ secrets.SNOWUSER }}
          env:      
            solution: ${{ github.event.inputs.solution }}
            environment: ${{ github.event.inputs.environment }}
            namespace: ${{ github.event.inputs.namespace }}  
          #executar step apenas se der erro 
        - uses: ./build-templates/.github/workflows/actions/falha
          name: Falha de execução
          if: ${{ failure() }}
          env:      
            environment: ${{ github.event.inputs.environment }}
            Gmud: ${{ github.event.inputs.Gmud }}
          # executa step apenas se der sucesso
        - uses: ./build-templates/.github/workflows/actions/sucesso
          name: Sucesso de execução
          if: ${{ success() }}
          env:      
            environment: ${{ github.event.inputs.environment }}
            Gmud: ${{ github.event.inputs.Gmud }}
          


    pipeline-build-hml:
      runs-on: Linux
      if: ${{ github.event.inputs.environment == 'hml' }}
      steps:
        - name: Check out repository
          uses: actions/checkout@v3
        - run: |
            echo "Env: ${{ github.event.inputs.environment }}" 
            echo "Branch: ${{ github.event.inputs.branch }}"
        - name: Check out repository build-templates
          uses: actions/checkout@v3
          with:
            repository: 'Buzinho2022/build-templates'
            ref: 'refs/heads/main'
            #token: '${{ secrets.GH_TOKEN }}'
            path: 'build-templates/'
  
        - uses: ./build-templates/.github/workflows/actions/validacoes
          name: Metrics Pipeline
          with:
           ambiente: ${{ secrets.SNOWUSER }}
          env:      
            solution: ${{ github.event.inputs.solution }}
            environment: ${{ github.event.inputs.environment }}
            namespace: ${{ github.event.inputs.namespace }}              

    pipeline-build-prd:
      runs-on: Linux
      if: ${{ github.event.inputs.environment == 'prd' }}
      steps:
        - name: Check out repository
          uses: actions/checkout@v3
        - run: |
            echo "Env: ${{ github.event.inputs.environment }}" 
            echo "Branch: ${{ github.event.inputs.branch }}"
        - name: Check out repository build-templates
          uses: actions/checkout@v3
          with:
            repository: 'Buzinho2022/build-templates'
            ref: 'refs/heads/main'
            #token: '${{ secrets.GH_TOKEN }}'
            path: 'build-templates/'
  
        - uses: ./build-templates/.github/workflows/actions/validacoes
          name: Metrics Pipeline
          env:      
            environment: ${{ github.event.inputs.environment }}
                       
        - uses: ./build-templates/.github/workflows/actions/gmud
          name: GMUD-Validate
          env:      
            environment: ${{ github.event.inputs.environment }}
            Gmud: ${{ github.event.inputs.Gmud }}
         
